{% extends "base.html" %}

{% block body %}
    <div style="margin: 20%">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <br>Account<br>
            {{ form.account }}
            <br>Property<br>
            {{ form.property }}
            <br>View<br>
            {{ form.view }}
            <br>Start Date<br>
            {{ form.start_date }}
            <br>End Date<br>
            {{ form.end_date }}
            <br>Metric<br>
            {{ form.metric }}
            <br>Dimension<br>
            {{ form.dimension }}
            <br><input type="submit" name="submit" value="Submit">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let account_select = document.getElementById("account");
        let property_select = document.getElementById("property");
        let view_select = document.getElementById("view");
        account_select.onchange = function () {
            account = account_select.value;
            fetch('/analytics/properties/' + account).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                    for (var property of data.properties) {
                        optionHTML += '<option value="' + property.id + '">' + property.name + '</option>';
                    }
                    property_select.innerHTML = optionHTML;
                })

            });
        }
        property_select.onchange = function () {
            property = property_select.value;
            fetch('/analytics/views/' + account_select.value + '/' + property).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                    for (var view of data.views) {
                        optionHTML += '<option value="' + view.id + '">' + view.name + '</option>';
                    }
                    view_select.innerHTML = optionHTML;
                })

            });
        }
    </script>
{% endblock %}