<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics Audit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_audit.css') }}">


    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util-form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-form.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
</head>

<body>

<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
<script type="text/javascript" src="https://a.opmnstr.com/app/js/api.min.js" data-account="47764" data-user="41970"
        async></script>
<!-- / https://optinmonster.com -->


<nav class="navbar navbar-default navbar-expand-xl navbar-light">
    <div class="navbar-header d-flex col">
        <a class="navbar-brand" href="/getstarted/connect-accounts"><img src="../static/images/heybooster-preview.png"></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

        <ul class="nav navbar-nav navbar-right ml-auto">


            <li class="nav-item dropdown">
                <a id="drop-icon" href="/getstarted/connect-accounts" data-toggle="dropdown"
                   class="nav-link dropdown-toggle user-action"><img
                        src="../static/img/ninca.png" class="avatar" alt="Avatar"><span
                        id="user-name-1">{{ session['email'] }}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/account/audit-history-without-slack" class="dropdown-item"><i class="fa fa-user-o"></i>Audit History</a>
                    </li>
                    <li><a href="/account/connections-without-slack" class="dropdown-item"><i class="fa fa-calendar-o"></i>Connected
                        Accounts</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li><a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> &nbsp; Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


{% if current_analyticsemail %}
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table class="table-border">
                        <thead class="head head-line">
                        <tr id="height" class="table100-head">
                            <th class="column1" id="drop-left">
                                <div class="dropdown">
                                    <button class="btn btnx dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="cursor: pointer;">
                                        Data Source Name
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for arg in args %}
                                            {% if arg.dataSourceName %}
                                                {% set dataSourceName = arg.dataSourceName %}
                                            {% else %}
                                                {% set dataSourceName = arg._id %}
                                            {% endif %}
                                            <a class="dropdown-item"
                                               href="/account/audit-history-without-slack{{ arg._id }}">{{ dataSourceName }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th class="column2">
                            </th>
                            <th class="column3"></th>
                            <th class="column4"></th>
                            <th class="column5"></th>

                        </tr>

                        <tr id="hd-border" class="table100-head">

                            <th class="column1" id="hd-bc">
                                <h1 class="audit-history">Score</h1>
                            </th>
                            <th id="hd-bc" class="column2">
                                <h1 class="audit-history">Audit History</h1>
                            </th>
                            <th id="hd-bc" class="column3">

                            </th>
                            <th id="hd-bc" class="column4">
                                <h1 class="audit-history">Change Alert</h1>
                            </th>
                            <th id="hd-bc" class="column5">

                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if args %}
                            {% for arg in selectedargs %}
                                {% set AA = analytics_audits[loop.index0] %}
                                {% if AA.totalScore == 0 %}
                                    <tr class="line-row" id="border-table">
                                        <td id="point" class="column1">
                                            <h5>...</h5>
                                        </td>
                                        <td class="column2">
                                            Last Updated Time: preparing...
                                        </td>
                                        <td class="column3">
                                            <div class="dropdown">
                                                <button class="btn btnx " type="button" id="dropdownMenuButton-info"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="cursor: pointer;">
                                                    <a style="font-weight: 600; font-family: 'Ibarra Real Nova', serif; color: #3f51b5; background-color: transparent; font-size: 20px;">i</a>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item">{{ arg.dataSourceName }}</a>
                                                </div>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                     style="font-size: 12px;">
                                                    <a id="weight-" class="dropdown-item">GA
                                                        Account: {{ arg.accountName }}</a>
                                                    <a id="weight-" class="dropdown-item">GA
                                                        Property: {{ arg.propertyName }}</a>
                                                    <a id="weight-" class="dropdown-item">GA
                                                        View: {{ arg.viewName }}</a>
                                                    <a id="weight-" class="dropdown-item">Workspace: None</a>
                                                </div>
                                            </div>

                                        </td>
                                        {% else %}
                                        {% if arg.channelName == '' %}
                                            <tr class="line-row" id="border-table">
                                                <td id="point" class="column1">
                                                    <del><h5>{{ AA.totalScore }}</h5></del>
                                                </td>
                                                <td class="column2">
                                                    <del><b style="color: #202540">{{ arg.dataSourceName }}</b> Last
                                                        Updated
                                                        Time: <b
                                                                style="color: #202540">{{ AA.localTime }}</b></del>
                                                </td>
                                                <td class="column3">
                                                    <div class="dropdown">
                                                        <button class="btn btnx " type="button"
                                                                id="dropdownMenuButton-info" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                style="cursor: pointer;">
                                                            <a style="font-weight: 600; font-family: 'Ibarra Real Nova', serif; color: #3f51b5; background-color: transparent; font-size: 20px;">i</a>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item">{{ arg.dataSourceName }}</a>
                                                        </div>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                             style="font-size: 12px;">
                                                            <a id="weight-" class="dropdown-item">GA
                                                                Account: {{ arg.accountName }}</a>
                                                            <a id="weight-" class="dropdown-item">GA
                                                                Property: {{ arg.propertyName }}</a>
                                                            <a id="weight-" class="dropdown-item">GA
                                                                View: {{ arg.viewName }}</a>
                                                            <a id="weight-"
                                                               class="dropdown-item">Workspace: None</a>
                                                        </div>
                                                    </div>

                                                </td>
                                                {% else %}
                                            <tr class="line-row" id="border-table">
                                            <td id="point" class="column1">
                                                <h5>{{ AA.totalScore }}</h5>
                                            </td>
                                            <td class="column2">
                                                <b style="color: #202540">{{ arg.dataSourceName }}</b> Last Updated
                                                Time: <b
                                                    style="color: #202540">{{ AA.localTime }}</b>
                                            </td>
                                            <td class="column3">
                                                <div class="dropdown">
                                                    <button class="btn btnx " type="button" id="dropdownMenuButton-info"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" style="cursor: pointer;">
                                                        <a style="font-weight: 600; font-family: 'Ibarra Real Nova', serif; color: #3f51b5; background-color: transparent; font-size: 20px;">i</a>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                         style="font-size: 12px;">
                                                        <a id="weight-" class="dropdown-item">GA
                                                            Account: {{ arg.accountName }}</a>
                                                        <a id="weight-" class="dropdown-item">GA
                                                            Property: {{ arg.propertyName }}</a>
                                                        <a id="weight-" class="dropdown-item">GA
                                                            View: {{ arg.viewName }}</a>
                                                        <a id="weight-"
                                                           class="dropdown-item">Workspace: None</a>
                                                    </div>
                                                </div>

                                            </td>
                                        {% endif %}
                                {% endif %}

                            {% if AA.strstat == 'passive' %}
                                <td class="column4">
                                    <a href="/active_audit_test/{{ AA._id }}">
                                        <button class="btn btn-sm text-white change-alert">Activate Change Alert
                                        </button>
                                    </a>
                                </td>
                            {% else %}
                                <td class="column4">
                                    <a href="/active_audit_test/{{ AA._id }}">
                                        <button class="btn btn-sm text-white change-alert">Ignore Change Alert
                                        </button>
                                    </a>
                                </td>
                            {% endif %}
                            <td class="column5">
                                <div class="dropdown" style="float:right;">
                                    <button class="dropbtn"><i class="fa fa-caret-down"></i></button>
                                    <div class="dropdown-content"
                                         onclick="location.href='/test_test_without_slack/{{ arg._id }}'">
                                                <span style="padding-top: 5px; padding-bottom: 5px; padding-left: 2px; padding-right: 2px; font-size: 16px; font-weight: 400;">
                                                    Test Now
                                                </span>
                                    </div>
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>

                        <thead style="height: 10px;" class="head head-line">


                        <tr style="height: 70px;" id="hd-border" class="table100-head">

                            <th class="column1" id="hd-bc-b-1">

                            </th>
                            <th id="hd-bc-b" class="column2">

                            </th>
                            <th id="hd-bc-b" class="column3">

                            </th>
                            <th id="hd-bc-b-2" class="column4">

                            </th>
                            <th class="column6" id="hd-bc-b-2"></th>

                        </tr>
                        </thead>
                    </table>
                </div>


                <div class="table100">
                    <table class="table-border-2">
                        <tbody class="head head-line">
                        <tr class="table100-head">
                            <th class="column3" id="boots-div">
                                <button type="button" class="btn btn-md view-more mt-3 mb-3" data-toggle="collapse"
                                        data-target="#content">
                                    New Audit Request
                                </button>
                                <div id="content" class="collapse dropdown-div">
                                    <form class="contact100-form validate-form" id="son-care" method="POST"
                                          action="/account/audit-history-without-slack">
                                            <span class="contact100-form-title">
                                                heybooster
                                            </span>
                                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                                            <span class="label-input100">Data Souce Name</span>
                                            {#<input class="input100" type="text" name="name"
                                                   placeholder="Data Source Name" style="text-align: center;">#}
                                            {{ nForm.data_source_name }}
                                            <span class="focus-input100"></span>
                                        </div>

                                        <div class="wrap-input100 validate-input"
                                             data-validate="Valid email is required: ex@abc.xyz">
                                            <span class="label-input100">Google Analytics Account</span>
                                            <text class="input100" type="text" name="email"
                                                  placeholder="Enter your email addess">{{ current_analyticsemail }}</text>
                                            <span class="focus-input100"></span>
                                        </div>

                                        <div class="wrap-input100 input100-select">
                                            <span class="label-input100">Select Your Profile Detail</span>
                                            <div>
                                                {{ nForm.account }}
                                            </div>
                                            <span class="focus-input100"></span>
                                        </div>

                                        <div class="wrap-input100 input100-select">
                                            <!--
                                             <span class="label-input100"></span> -->
                                            <div>
                                                {{ nForm.property }}
                                            </div>
                                            <span class="focus-input100"></span>
                                        </div>

                                        <div class="wrap-input100 input100-select">
                                            <!--
                                             <span class="label-input100"></span> -->
                                            <div>
                                                {{ nForm.view }}
                                            </div>
                                            <span class="focus-input100"></span>
                                        </div>


                                        <div class="container-contact100-form-btn">
                                            <div class="wrap-contact100-form-btn">
                                                <div class="contact100-form-bgbtn"></div>
                                                <button type="submit" class="contact100-form-btn">
                                                        <span>
                                                            Submit
                                                            <i class="fa fa-long-arrow-right m-l-7"
                                                               aria-hidden="true"></i>
                                                        </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

{% else %}
    <script>
        location.reload();
    </script>
{% endif %}

<script>
    function gizleGoster(ID) {
        var secilenID = document.getElementById(ID);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
        } else {
            secilenID.style.display = "none";
        }
    }
</script>


<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    document.getElementById('account').value = '';
    let account_select = document.getElementById("account");
    let property_select = document.getElementById("property");
    let view_select = document.getElementById("view");
    let bellchar = '';
    account_select.onchange = function () {
        account = account_select.value.split(bellchar)[0];
        fetch('/analytics/properties/' + account).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var property of data.properties) {
                    optionHTML += '<option value="' + property.id + bellchar + property.name + '">' + property.name + '</option>';
                }
                property_select.innerHTML = optionHTML;
            })

        });
    }
    property_select.onchange = function () {
        property = property_select.value.split(bellchar)[0];
        fetch('/analytics/views/' + account_select.value.split(bellchar)[0] + '/' + property).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var view of data.views) {
                    optionHTML += '<option value="' + view.id + bellchar + view.name + '">' + view.name + '</option>';
                }
                view_select.innerHTML = optionHTML;
            })

        });
    }
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendor/select2/select2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>


{#<h5>Your Analytics Account:</h5>#}
{#    {% if current_analyticsemail %}#}
{#        {{ current_analyticsemail }} <span style="color: blue; cursor: pointer; font-size: 10px;" onclick="myFunction()">(Wrong Account?)</span>#}
{#    {% else %}#}
{#        <script> {{ message }}#}
{#            location.reload();#}
{#        </script>#}
{#    {% endif %}#}

{#    <script>#}
{#        function myFunction() {#}
{#            var r = confirm("If you change the analytics account, your recent data sources will be deleted. Are you sure to continue?");#}
{#            if (r == true) {#}
{#                window.location.href = '/google/connect';#}
{#            } else {#}
{##}
{#            }#}
{#        }#}
{#    </script>#}