<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics Audit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
</head>

<body>

<!--
<nav class=" nav- navbar navbar-dark navbar-expand-sm">
    <a href="#" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </div>

</nav>
-->

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead class="head head-line">
                    <tr class="table100-head">


                        <th class="column3">Audit</th>
                        <th class="column4">Change Alert</th>
                        <th class="column5">Test</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="line-row">
                        {% if current_analyticsemail %}
                            <td class="column3">{{ current_analyticsemail }} Audit is Active for FLO</td>
                        {% else %}
                            <script> {{ message }}
                                location.reload();
                            </script>
                        {% endif %}
                        <td class="column4">
                            <a href="/active_audit_test">
                                <button class="btn btn-sm text-white change-alert"><i class="fa fa-check"></i> Activate</button>
                            </a>
                        </td>
                        <td class="column5">
                            <a href="/test_test">
                                <button class="btn btn-sm text-white test-now">Test Now</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="table100">
                <table>
                    <thead class="head head-line">
                    <tr class="table100-head">


                        <th class="column3" id="boots-div">

                            <button type="button" class="btn btn-md view-more mt-3 mb-3" data-toggle="collapse"
                                    data-target="#content">
                                View More
                            </button>


                            <div id="content" class="collapse dropdown-div">

                                <form class="pt-3 form-div" method="POST" action="/datasourcesinfo">

                                    <div class="dropdown">
                                        {{ nForm.csrf_token }}

                                        {{ nForm.account }}

                                        <p style="margin-top:5px">
                                            Property</p>

                                        {{ nForm.property }}

                                        <p style="margin-top:5px">
                                            View</p>

                                        {{ nForm.view }}

                                        <h5><br><br><br>
                                            Slack</h5>
                                        <p>
                                            Choose your channel</p>

                                        {{ nForm.channel }}
                                        <div style="margin-top:20px">
                                        </div>
                                        <div style=" width: 200px;">
                                            <button type="submit" class="btn add-data mb-2">Get Audit
                                            </button>
                                        </div>
                                </form>

                            </div>
                        </th>


                    </tr>
                    </thead>


                </table>
            </div>


        </div>

    </div>

</div>
<script>
    function gizleGoster(ID) {
        var secilenID = document.getElementById(ID);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
        } else {
            secilenID.style.display = "none";
        }
    }
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendor/select2/select2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/js/main.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendors/base/vendor.bundle.base.js') }}"></script>


<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    document.getElementById('account').value = '';
    let account_select = document.getElementById("account");
    let property_select = document.getElementById("property");
    let view_select = document.getElementById("view");
    let bellchar = '';
    account_select.onchange = function () {
        account = account_select.value.split(bellchar)[0];
        fetch('/analytics/properties/' + account).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                for (var property of data.properties) {
                    optionHTML += '<option value="' + property.id + bellchar + property.name + '">' + property.name + '</option>';
                }
                property_select.innerHTML = optionHTML;
            })

        });
    }
    property_select.onchange = function () {
        property = property_select.value.split(bellchar)[0];
        fetch('/analytics/views/' + account_select.value.split(bellchar)[0] + '/' + property).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                for (var view of data.views) {
                    optionHTML += '<option value="' + view.id + bellchar + view.name + '">' + view.name + '</option>';
                }
                view_select.innerHTML = optionHTML;
            })

        });
    }
</script>
</body>
</html>