<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics Audit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
</head>

<body>

<nav class="navbar navbar-expand-lg px-5 navbar-light" id="resp" style="list-style-type: none;">
    <a href="/" style="color: #f9f9f9">
        heybooster!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: #f9f9f9;">
                    {{ session['email'] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/wrongaccount">Wrong Account?</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>

        </form>
    </div>
</nav>

{% if statuses %}
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table class="table-border">
                        <tbody>
                        {% if args %}
                            {% for arg in args %}
                                <tr class="line-row">
                                    {% if current_analyticsemail %}
                                        <td class="column3">{{ current_analyticsemail }} Audit is
                                            <strong>{{ statuses["{{arg._id}}"] }}</strong> for {{ arg.propertyName }}
                                            && {{ arg.viewName }}</td>
                                    {% else %}
                                        <script> {{ message }}
                                        location.reload();
                                        </script>
                                    {% endif %}
                                    <td class="column4">
                                        {% if statuses["{{arg._id}}"] == 'passive' %}
                                            <a href="/active_audit_test/{{ arg._id }}">
                                                <button class="btn btn-sm text-white change-alert"><i
                                                        class="fa fa-check"></i> Activate
                                                </button>
                                            </a>
                                        {% else %}
                                            <a href="/active_audit_test/{{ arg._id }}">
                                                <button class="btn btn-sm text-white change-alert"><i class="fa"></i>
                                                    Ignore
                                                </button>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="column5">
                                        <a href="/test_test/{{ arg._id }}">
                                            <button class="btn btn-sm text-white test-now">Test Now</button>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>


                <div class="table100">
                    <table class="table-border2">
                        <thead class="head head-line">
                        <tr class="table100-head">


                            <th class="column3" id="boots-div">

                                <button type="button" class="btn btn-md view-more mt-3 mb-3" data-toggle="collapse"
                                        data-target="#content">
                                    Add More
                                </button>


                                <div id="content" class="collapse dropdown-div">

                                    <form class="pt-3 form-div" method="POST" action="/getaudit">

                                        <div class="dropdown">
                                            {{ nForm.csrf_token }}

                                            {{ nForm.account }}

                                            <p style="margin-top:10px; margin-bottom: 10px; font-size: 15px; font-weight: 600;">
                                                Property</p>

                                            {{ nForm.property }}

                                            <p style="margin-top:10px; font-size: 15px; font-weight: 600;">
                                                View</p>

                                            {{ nForm.view }}

                                            <h5 style="margin-top: 10px; font-size: 15px; font-weight: 600;">
                                                Slack</h5>
                                            <p style="font-size: 15px; font-weight: 600;">
                                                Choose your channel</p>

                                            {{ nForm.channel }}
                                            <div style="margin-top:20px">
                                            </div>
                                            <div style=" width: 200px;">
                                                <button type="submit" class="btn add-data mb-2">Get Audit
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </th>


                        </tr>
                        </thead>


                    </table>
                </div>


            </div>

        </div>

    </div>
{% else %}
    <script>
        location.reload();
    </script>
{% endif %}
<script>
    function gizleGoster(ID) {
        var secilenID = document.getElementById(ID);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
        } else {
            secilenID.style.display = "none";
        }
    }
</script>


<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    document.getElementById('account').value = '';
    let account_select = document.getElementById("account");
    let property_select = document.getElementById("property");
    let view_select = document.getElementById("view");
    let bellchar = '';
    account_select.onchange = function () {
        account = account_select.value.split(bellchar)[0];
        fetch('/analytics/properties/' + account).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var property of data.properties) {
                    optionHTML += '<option value="' + property.id + bellchar + property.name + '">' + property.name + '</option>';
                }
                property_select.innerHTML = optionHTML;
            })

        });
    }
    property_select.onchange = function () {
        property = property_select.value.split(bellchar)[0];
        fetch('/analytics/views/' + account_select.value.split(bellchar)[0] + '/' + property).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var view of data.views) {
                    optionHTML += '<option value="' + view.id + bellchar + view.name + '">' + view.name + '</option>';
                }
                view_select.innerHTML = optionHTML;
            })

        });
    }
</script>
</body>
</html>


{#<h5>Your Analytics Account:</h5>#}
{#    {% if current_analyticsemail %}#}
{#        {{ current_analyticsemail }} <span style="color: blue; cursor: pointer; font-size: 10px;" onclick="myFunction()">(Wrong Account?)</span>#}
{#    {% else %}#}
{#        <script> {{ message }}#}
{#            location.reload();#}
{#        </script>#}
{#    {% endif %}#}

{#    <script>#}
{#        function myFunction() {#}
{#            var r = confirm("If you change the analytics account, your recent data sources will be deleted. Are you sure to continue?");#}
{#            if (r == true) {#}
{#                window.location.href = 'https://app.heybooster.ai/google/connect';#}
{#            } else {#}
{##}
{#            }#}
{#        }#}
{#    </script>#}