<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>heyBooster!</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/base/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horizontal-layout-light/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container">
                <div class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">

                    <a class="navbar-brand brand-logo" href="/"><img src="../static/images/heyBooster.png"
                                                                     height="34px" alt="logo"/></a>
                    <a class="navbar-brand brand-logo-mini" href="/"><img src="../static/images/heyBooster.png"
                                                                          alt="heyBooster!"/></a>


                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                    <ul class="navbar-nav navbar-nav-right">
                        <ul class="navbar-nav ml-lg-3">
                            <li class="nav-item  dropdown d-none align-items-center d-lg-flex d-none">
                                <a class="dropdown-toggle btn btn-outline-secondary btn-fw" href="#"
                                   data-toggle="dropdown" id="pagesDropdown">
                                    <span class="nav-profile-name"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                     aria-labelledby="pagesDropdown">

                                    <a class="dropdown-item">
                                        <i class="mdi mdi-logout text-primary"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                        <li class="nav-item dropdown">

                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="messageDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            The meeting is cancelled
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            New product launch
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            Upcoming board meeting
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item nav-settings d-none d-lg-flex">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">


        <div class="main-panel">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="../static/images/ga.jpg" alt="Google Analytics">
                                <img src="../static/images/slack.png" alt="Slack" style="float: right;">
                                <h5><br>
                                    Google Analytics</h5>
                                <p>
                                    Choose your account</p>


                                <form class="pt-3" action="/datasources">
                                    {{ nForm.csrf_token }}

                                    <option value="WY">{{ nForm.account }}</option>

                                    <div class="slack-option" id="slack">

                                        <p style="margin-top:5px">
                                            Property</p>

                                        <option value="WY">{{ nForm.property }}</option>

                                        <p style="margin-top:5px">
                                            View</p>

                                        <option value="WY">{{ nForm.view }}</option>

                                        <h5><br><br><br>
                                            Slack</h5>
                                        <p>
                                            Choose your channel</p>

                                        <option value="WY">{{ nForm.channel }}</option>


                                        {#<h5><br>
                                    Google Analytics</h5>
                                <p>
                                    Choose your account</p>


                                <form class="pt-3" action="/datasources">
                                    {{ nForm.csrf_token }}
                                    <select class="js-example-basic-single w-100 select2-hidden-accessible"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        {% for i in nForm.account %}
                                            <option value="WY">{{ i }}</option>
                                        {% endfor %}
                                    </select>

                                    <div class="slack-option" id="slack">

                                        <p style="margin-top:5px">
                                            Property</p>

                                        <select class="js-example-basic-single w-100 select2-hidden-accessible"
                                                data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            {% for i in nForm.property %}
                                                <option value="WY">{{ i }}</option>
                                            {% endfor %}
                                        </select>


                                        <p style="margin-top:5px">
                                            View</p>


                                        <select class="js-example-basic-single w-100 select2-hidden-accessible"
                                                data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            {% for i in nForm.view %}
                                            <option value="WY">{{ i }}</option>
                                            {% endfor %}
                                        </select>


                                        <h5><br><br><br>
                                            Slack</h5>
                                        <p>
                                            Choose your channel</p>


                                        <select class="js-example-basic-single w-100 select2-hidden-accessible"
                                                data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            {% for i in nForm.channel %}
                                            <option value="WY">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                </form>#}

                                        <div style="margin-top:20px"

                                        <div style=" width: 200px;">
                                            <button type="submit" class="btn btn-primary mb-2">Add Data Source</button>

                                        </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="./vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="./js/off-canvas.js"></script>
<script src="./js/hoverable-collapse.js"></script>
<script src="./js/template.js"></script>
<script src="./js/settings.js"></script>
<script src="./js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script>

    let account_select = document.getElementById("account");
    let property_select = document.getElementById("property");
    let view_select = document.getElementById("view");
    let bellchar = '';
    account_select.onchange = function () {
        account = account_select.value.split(bellchar)[0];
        fetch('/analytics/properties/' + account).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                for (var property of data.properties) {
                    optionHTML += '<option value="' + property.id + bellchar + property.name + '">' + property.name + '</option>';
                }
                property_select.innerHTML = optionHTML;
            })

        });
    }
    property_select.onchange = function () {
        property = property_select.value.split(bellchar)[0];
        fetch('/analytics/views/' + account_select.value.split(bellchar)[0] + '/' + property).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + '-- Select an Option --' + '</option>';
                for (var view of data.views) {
                    optionHTML += '<option value="' + view.id + bellchar + view.name + '">' + view.name + '</option>';
                }
                view_select.innerHTML = optionHTML;
            })

        });
    }
</script>
</body>

</html>

