<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/connect_style.css') }}">


    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
</head>

<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="left-div">
                <div class="wrapper">
                    <div class="arrow-steps clearfix">
                        <div class="step"><span> Sign up</span></div>
                        <div class="step current"><span>Connect Data Sources & Channels</span></div>
                        <div class="step"><span>Get First Insight</span></div>
                    </div>
                </div>

                <div class="down-connect">
                    {% if analytics_confirm %}
                        <div class="data" style="opacity: 0.5">
                            <div class="center-left">
                                <img class="card-img-top" src="../static/img/ab3.png">
                                <h1>Data Sources</h1>
                                <img class="logoo" src="../static/img/connec_google.png">
                                {#<a href="/google/connect">
                                    <button id="connect-1" class="btn text-white"
                                            style="background-color: #e48131">
                                        Connect
                                    </button>
                                </a>
                                <a href="/google/connect">
                                    <button id="connect-r1" class="btn text-white btn-sm"
                                            style="background-color: #e48131">
                                        Connect
                                    </button>
                                </a>#}
                                <span>
                                    {{ current_analyticsemail }} <br>
                                        <a onclick="myFunction()" style="cursor: pointer; color: darkblue;">
                                                Wrong Account?
                                        </a>
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="data">
                            <div class="center-left">
                                <img class="card-img-top" src="../static/img/ab3.png">
                                <h1>Data Sources</h1>
                                <img class="logoo" src="../static/img/connec_google.png">
                                <a href="/google/connect">
                                    <button id="connect-1" class="btn text-white"
                                            style="background-color: #e48131">
                                        Connect
                                    </button>
                                </a>
                                <a href="/google/connect">
                                    <button id="connect-r1" class="btn text-white btn-sm"
                                            style="background-color: #e48131">
                                        Connect
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% if slack_confirm or analytics_confirm %}
                        <div class="channel">
                            <div class="center-right">
                                <img class="card-img-top" src="../static/img/card-4.jpg">
                                <h1>Communication Channel</h1>
                                <img class="logoo" src="../static/img/connect_slack.png">
                                <a href="/connect">
                                    <button id="connect-2" class="btn text-white"
                                            style="background-color: #0097a7">
                                        Connect
                                    </button>
                                </a>
                                <a href="/connect">
                                    <button id="connect-r2" class="btn text-white btn-sm"
                                            style="background-color: #0097a7">
                                        Connect
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="channel" style="opacity: 0.5">
                            <div class="center-right">
                                <img class="card-img-top" src="../static/img/card-4.jpg">
                                <h1>Communication Channel</h1>
                                <img class="logoo" src="../static/img/connect_slack.png">
                                {#                                <a href="/connect">
                                    <button id="connect-2" class="btn text-white"
                                            style="background-color: #0097a7">
                                        Connect
                                    </button>
                                </a>
                                <a href="/connect">
                                    <button id="connect-r2" class="btn text-white btn-sm"
                                            style="background-color: #0097a7">
                                        Connect
                                    </button>
                                </a>#}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var r = confirm("If you change the analytics account, your recent analytics audit will be deleted. Are you sure to continue?");
        if (r == true) {
            window.location.href = 'https://app.heybooster.ai/google/connect';
        } else {

        }
    }
</script>

</body>
</html>