<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename="css/sign-in.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <title>Sıgn In</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/base/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horizontal-layout-light/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
<section class="sign-up">

        <div class="left-div">
            <div class="logo">
                <img src="icon/heybooster-preview.png">
            </div>
            <div class="head-div">
                <h1 class="welcome">Welcome, booster!</h1>
            </div>




           <div class="google-btn">
                <a href="">
                    <img id="clipping" src="btn/btn-light-4.png">
                </a>
            </div>



            <div class="head-div-2">
                <h1 class="text-">New around here?</h1>
                <h1 class="text-">Get your first insight to empower your marketing team.</h1>
            </div>

            <div class="btn-down-link">
                <button><a href="/google/connect">Sign up&nbsp;</a><i class="fas fa-arrow-right"></i></button>

            </div>

        </div>






        <div class="right-div">
            <div class="mg-top">

                <h1>Easy to Understand</h1>

                <h1>Data - Driven</h1>

                <h1>Marketing Insight</h1>

                <h1>for</h1>

                <h1>Ecommerce Businnes</h1>

            </div>
        </div>

    </section>
<!-- container-scroller -->
<!-- base:js -->
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendors/base/vendor.bundle.base.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='/js/off-canvas.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='/js/hoverable-collapse.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='/js/template.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='/js/settings.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='/js/todolist.js') }}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
