
<div style="margin: 10%">
<h2><strong>Privacy Policy</strong></h2>

<strong>Last updated: Sep 26, 2019</strong>
    Heybooster (the "Service") is operated by Boostroas Ltd  ("us", "we", or "our") and can be accessed through the website <a href="https://app.heybooster.ai/">https://app.heybooster.ai/</a> (the "Site"). This Privacy Policy explains how heybooster collect, uses and discloses information.

<strong>Personal Information</strong>
    <p>
    We collect your personal data when you add and install heybooster app to access the data through Slack. We collect only your fullname and email address.
    We only use your personal data to communicate with you directly via email about the following:
    </p>
    <li>
    Let you know about improvements, service alerts, and promotions
    Ask for your feedback about heybooster in order to improve it
    </li>
    <p>
    We don’t
    </p>
    <li>
    Share your personal data with any third parties
    </li>
    <p>
    You can always contact us at and request for your personal data to be deleted.
    </p>

<strong>Data Sources</strong>
    <p>The Service users grant API access to data sources such as Google Analytics, and Google AdWords ("Data Sources"). The Service is using this access on a regular basis to read, analyze, generate insights and predict. All the data insights are posted to user's selected Slack channels.</p>

    <p><strong>The Service store only your notification preferences data in the database.</strong> When the preferences is changed by user, it is also updated.</p>


<strong>Log Data</strong>
    <p>
    Third party services such as Google Analytics are used to collect information that your browser sends whenever you visit our Site. This Log Data (“Log Data”) may include information such as browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
    Google Analytics uses first-party cookies to track visitor interactions, where they are used to collect information about how visitors use our Site.
    </p>

    <strong>Changes To This Privacy Policy</strong>
    <p>Privacy Policy will be changed if any business, marketing and version changes are made. However, we accept the responsibility to inform you about any changes made on the this privacy policy.</p>

    <strong>Contact Us</strong>
    <p>If you have any questions about this Privacy Policy, please contact us via hi@heybooster.ai</p>

</div>
