<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/connect_style.css') }}">


    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>

</head>
<style>
    #prog {
        width: 400px;
        border: 1px solid red;
        height: 20px;
    }

    #bar {
        width: 0px;
        background-color: blue;
        height: 20px;
    }
</style>

<body>

<div id="prog">
    <div id="bar"></div>
</div>
<div id="pct"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    function poll() {
        $.ajax("{{url_for('.progress', jobid=JOBID)}}", {
            dataType: "json"
            , success: function (resp) {
                console.log(resp);
                $("#pct").html(resp.progress);
                $("#bar").css({width: $("#prog").width() * resp.progress});
                if (resp.progress >= 0.9) {
                    $("#bar").css({backgroundColor: "green"});
                    return;
                } else {
                    setTimeout(poll, 1000.0);
                }
            }
        });
    }

    $(function () {
        var JOBID = "{{ JOBID }}";
        $("h3").html("JOB: " + JOBID);
        poll();
    });
</script>

</body>
</html>