<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ilto.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
</head>

<body>

<nav>
    <div id="logo">Your Logo here</div>

    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">{{  current_analyticsemail  }}</label>
            <a href="#">{{ current_analyticsemail }}</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a href="/getaudit">Audit History</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead class="head head-line">
                    <tr class="table100-head">
                        <th class="column2"></th>
                        <th class="column3" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Connected
                            Accounts
                        </th>
                        <th class="column4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if args %}
                        {% for arg in args %}
                            <tr class="line-row">
                                <td id="icon-text" class="column2"><img src="../static/img/google-icon.png"
                                                                        class="icon-img">Google Analytics
                                </td>
                                <td class="column3">{{ current_analyticsemail }}</td>
                                <td class="column4">
                                    <button onclick="myFunction()" class="btn btn-sm text-white change-alert"> Change
                                        Account
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr class="line-row">
                        <td id="icon-text" class="column2"><img class="icon-img" src="../static/img/slack-icon.png">Slack
                        </td>
                        <td class="column3">{{ workspace }}</td>
                        <td class="column4"><a>
                            <button onclick="slackRemove()" class="btn btn-sm text-white change-alert"> Change
                                Workspace
                            </button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var r = confirm("If you change the analytics account, your recent analytics audit will be deleted. Are you sure to continue?");
        if (r == true) {
            window.location.href = 'https://app.heybooster.ai/google/connect';
        } else {

        }
    }

    function slackRemove() {
        var r = confirm("If you change the slack account, your recent analytics audit will be deleted. Are you sure to continue?");
        if (r == true) {
            window.location.href = 'https://app.heybooster.ai/removeslackaccount';
        } else {

        }
    }
</script>


<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendor/select2/select2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>