<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connected Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ilto.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');</script>
</head>

<body>

<nav class="navbar navbar-default navbar-expand-xl navbar-light">
    <div class="navbar-header d-flex col">
        <a class="navbar-brand" href="/getstarted/connect-accounts"><img src="../static/img/heyBooster_small.png"></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

        <ul class="nav navbar-nav navbar-right ml-auto">


            <li class="nav-item dropdown">
                <a id="drop-icon" href="/" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img
                        src="../static/img/art.jpeg" class="avatar" alt="Avatar"><span
                        id="user-name-1">{{ current_analyticsemail }}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/account/audit-history" class="dropdown-item"><i class="fa fa-user-o"></i>Audit History</a></li>
                    <li><a href="/account/connections" class="dropdown-item"><i class="fa fa-calendar-o"></i>Connected Accounts</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li><a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> &nbsp; Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead class="head head-line">
                    <tr class="table100-head">
                        <th class="column2"></th>
                        <th class="column3" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Connected
                            Accounts
                        </th>
                        <th class="column4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if args %}
                            <tr class="line-row">
                                <td id="icon-text" class="column2"><img src="../static/img/google-icon.png"
                                                                        class="icon-img">Google Analytics
                                </td>
                                <td class="column3">{{ current_analyticsemail }}</td>
                                <td class="column4">
                                    <button onclick="myFunction()" class="btn btn-sm text-white change-alert"> Change
                                        Account
                                    </button>
                                </td>
                            </tr>
                    {% endif %}
                    <tr class="line-row">
                        <td id="icon-text" class="column2"><img class="icon-img" src="../static/img/slack-icon.png">Slack
                        </td>
                        <td class="column3">{{ workspace }}</td>
                        <td class="column4"><a>
                            <button onclick="slackRemove()" class="btn btn-sm text-white change-alert"> Change
                                Workspace
                            </button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var r = confirm("If you change the analytics account, your recent analytics audit will be deleted. Are you sure to continue?");
        if (r == true) {
            window.location.href = 'https://app.heybooster.ai/google/connect';
        } else {

        }
    }

    function slackRemove() {
        var r = confirm("If you change the slack account, your recent analytics audit will be deleted. Are you sure to continue?");
        if (r == true) {
            window.location.href = 'https://app.heybooster.ai/removeslackaccount';
        } else {

        }
    }
</script>


<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/vendor/select2/select2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>