<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>----</title>
    <!-- base:css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/css/vertical-layout-light/style.css') }}">
    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
</head>

<body class="sidebar-fixed">
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">
            <a class="navbar-brand brand-logo" href="/"><img src="../../static/images/heyBooster.png"
                                                             alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img
                    src="../../static/images/heyBooster_small.png" alt="logo"/></a>
            <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item  dropdown d-none align-items-center d-lg-flex d-none">
                    <a class="dropdown-toggle btn btn-outline-secondary btn-fw" href="#" data-toggle="dropdown"
                       id="pagesDropdown">
                        <span class="nav-profile-name">Data Source Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="pagesDropdown">
                        {% for arg in args %}
                            {% if arg.dataSourceName %}
                                {% set dataSourceName = arg.dataSourceName %}
                            {% else %}
                                {% set dataSourceName = arg._id %}
                            {% endif %}
                            <a class="dropdown-item"
                               href="/account/audit-history-without-slack{{ arg._id }}">{{ dataSourceName }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown align-items-center d-lg-flex d-none">
                    <a class="dropdown-toggle btn btn-outline-secondary btn-fw" href="#" data-toggle="dropdown"
                       id="appDropdown">
                        <span class="nav-profile-name">Menu</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="messageDropdown">
                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-normal">Logout
                                </h6>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                       id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline mx-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-information mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                       id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline mx-0"></i>
                        <p class="notification-ripple notification-ripple-bg">
                            <span class="ripple notification-ripple-bg"></span>
                            <span class="ripple notification-ripple-bg"></span>
                            <span class="ripple notification-ripple-bg"></span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="messageDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <!--
                <li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                </li>
                -->
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles primary"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link d-flex">
                        <div class="profile-name">
                            <p class="designation">
                                {{ session['email'] }}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/audit-history-without-slack">
                        <i class="mdi mdi-shield-check menu-icon"></i>
                        <span class="menu-title">Audit History</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/connections-without-slack">
                        <i class="mdi mdi-puzzle menu-icon"></i>
                        <span class="menu-title">Connected Account</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div id="card-tam-ug" class="container text-center">
                                    {% for arg in selectedargs %}
                                        {% set AA = analytics_audits[loop.index0] %}
                                        <div id="card-ust-ug" class="round" data-value="0.{{ AA.totalScore }}"
                                             data-size="100"
                                             data-thickness="6">
                                            <strong id="grafik-healty-ug" style="display: block;"></strong>
                                        </div>
                                    {% endfor %}
                                    <div id="card-alt-ug">

                                        <a href="#" class="btn btn-primary" id="g2_refresh">Healty Score</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div id="card-tam-ug" class="container text-center">

                                    <div id="card-ust-ug">
                                        <h1 id="issue-h-ug">4</h1>

                                    </div>
                                    <div id="card-alt-ug">

                                        <a href="#" class="btn btn-primary" id="g2_refresh">Issue Detected</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div id="card-tam-ug" class="container text-center">
                                    <div id="card-ust-ug">
                                        <h1 id="issue-h-ug">3</h1>
                                    </div>
                                    <div id="card-alt-ug">
                                        <a href="#" class="btn btn-primary" id="g2_refresh">Recommendative</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Source Name</h4>
                                {% for key, value in lastStates.items() %}
                                    {% set index = loop.index0 %}
                                    <div class="mt-4">
                                        <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="heading-10">
                                                    <h6 id="display-h6-ug" class="mb-0">
                                                        <a id="a-ug" data-toggle="collapse" href="#collapse-{{ index }}"
                                                           aria-expanded="false" aria-controls="collapse-{{ index }}">
                                                            {{ names[key] }}
                                                        </a>
                                                        {% if value == 'good' %}
                                                            <button id="success-btn-ug" class="btn text-white">
                                                                <i>{{ value }}</i>
                                                            </button>
                                                        {% else %}
                                                            <button id="danger-btn-ug" class="btn text-white">
                                                                <i>{{ value }}</i>
                                                            </button>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                                <div id="collapse-{{ index }}" class="collapse" role="tabpanel"
                                                     aria-labelledby="heading-10" data-parent="#accordion-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <ul class="nav nav-pills nav-pills-custom "
                                                                        id="pills-tab-custom" role="tablist">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link active"
                                                                               id="pills-home-tab-custom"
                                                                               data-toggle="pill"
                                                                               href="#pills-health" role="tab"
                                                                               aria-controls="pills-home"
                                                                               aria-selected="true">
                                                                                Summary
                                                                            </a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link"
                                                                               id="pills-profile-tab-custom"
                                                                               data-toggle="pill" href="#pills-career"
                                                                               role="tab" aria-controls="pills-profile"
                                                                               aria-selected="false">
                                                                                Recommendation
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content tab-content-custom-pill"
                                                                         id="pills-tabContent-custom">
                                                                        <div class="tab-pane fade show active"
                                                                             id="pills-health" role="tabpanel"
                                                                             aria-labelledby="pills-home-tab-custom">
                                                                            <div class="d-flex mb-4">
                                                                            </div>
                                                                            <p>
                                                                                I'm not the monster he wants me to be.
                                                                                So
                                                                                I'm neither man nor beast. I'm something
                                                                                new
                                                                                entirely. With
                                                                                my own set of rules. I'm Dexter. Boo.
                                                                                Only
                                                                                you could make those words cute. I'm
                                                                                thinking two circus clowns dancing. You?
                                                                            </p>
                                                                            <p>
                                                                                Under normal circumstances, I'd take
                                                                                that as
                                                                                a compliment. Tell him time is of the
                                                                                essence. I'm really more
                                                                                an apartment person. Finding a needle in
                                                                                a
                                                                                haystack isn't hard when every straw is
                                                                                computerized.
                                                                            </p>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="pills-career"
                                                                             role="tabpanel"
                                                                             aria-labelledby="pills-profile-tab-custom">
                                                                            <div class="media">

                                                                                <div class="media-body">
                                                                                    <p>I'm thinking two circus clowns
                                                                                        dancing. You? Finding a needle
                                                                                        in a
                                                                                        haystack isn't hard when every
                                                                                        straw
                                                                                        is
                                                                                        computerized. Tell him time is
                                                                                        of
                                                                                        the essence.
                                                                                        Somehow, I doubt that. You have
                                                                                        a
                                                                                        good heart, Dexter.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="tab-pane fade" id="pills-energy"
                                                                             role="tabpanel"
                                                                             aria-labelledby="pills-energy-tab-custom">
                                                                            <div class="media">
                                                                                <img class="mr-3 w-25 rounded"
                                                                                     src="https://via.placeholder.com/115x115"
                                                                                     alt="sample image">
                                                                                <div class="media-body">
                                                                                    <p>
                                                                                        Finding a needle in a haystack
                                                                                        isn't
                                                                                        hard when every straw is
                                                                                        computerized. You're a killer. I
                                                                                        catch killers.
                                                                                        I will not kill my sister. I
                                                                                        will
                                                                                        not kill my sister. I will not
                                                                                        kill
                                                                                        my sister. Rorschach would say
                                                                                        you
                                                                                        have a hard time relating to
                                                                                        others.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>
<script>
    function Circlle(el) {
        $(el).circleProgress({
            fill: {
                color: '#ff5c5c'
            }
        })
            .on('circle-animation-progress', function (event, progress, stepValue) {
                $(this).find('strong').text(String(stepValue.toFixed(2)).substr(2) + '%');
            });
    };
    Circlle('.round');
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/off-canvas.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/hoverable-collapse.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/template.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/settings.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/todolist.js') }}"></script>


</body>
</html>
