<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/css/vertical-layout-light/style.css') }}">
    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMNKXGH');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body class="sidebar-fixed">
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div style="background: #fff"
             class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">
            <a class="navbar-brand brand-logo" href="/"><img style="width: 300px; height: 50px; background: #fff;"
                                                             src="../../static/images/logo-2.svg" alt="logo"/></a>
            <a style="background: #fff;" class="navbar-brand brand-logo-mini" href="/"><img
                    src="../../static/images/heybooster-icon.svg" alt="logo"/></a>
            <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
        <div style="background: #ffffff;" class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                       id="notificationDropdown" href="#" data-toggle="dropdown">
                        <!--<i class="mdi mdi-bell-outline mx-0">asas</i>-->
                        <h5 id="" class="btn btn-outline-light text-dark">{{ session['email'] }} &nbsp;<i
                                style="opacity: 0.8; font-size: 17px;"
                                class="mdi mdi-arrow-down-drop-circle-outline "></i></h5>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <a href="/logout" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Logout</h6>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav style="background-color: #dddee3;" class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/account/audit-history">
                        <i style="color: #242635" class="mdi mdi-puzzle menu-icon"></i>
                        <span style="color: #242635;" class="menu-title">Audit History
                            <!--<span class="badge badge-danger">New</span>--></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/connections">
                        <i style="color: #242635" class="mdi mdi-checkbox-marked-outline menu-icon"></i>
                        <span style="color: #242635" class="menu-title">Connected Accounts</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 id="info-h-ug" class="card-title ml-5"
                                    style="letter-spacing: 1px; display: inline-block; float: left;">Data Source
                                    Name</h4>
                                <!-- info için eklendi ------------ -->
                                <div class="dropdown dropup" id=display-ug-ib>
                                    <button class="btn " type="button" id="dropdownMenuIconButton1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i id="info-ug-2" class="mdi mdi-information-outline"></i>
                                    </button>
                                    <div style="cursor: text;" class="dropdown-menu"
                                         aria-labelledby="dropdownMenuIconButton1">
                                        Deneme 12
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                        <div style="border: none; border-radius: 4px;" class="card col-lg-12">
                                            <div class="card-header col-lg-12" role="tab"
                                                 id="details-row-height-ug">
                                                <h6 id="display-h6-ug"
                                                    class="mb-0 col-lg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <a class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                       id="a-ug" data-toggle="collapse"
                                                       href="#collapse-10"
                                                       aria-controls="collapse-10"><i
                                                            class="mdi mdi-chevron-right "></i>
                                                        {{ insight['title'] }}
                                                    </a>

                                                    {% if insight.priority == 'good' %}
                                                        <button style="font-size: 11px;padding-left: 2px;padding-right: 2px;  ; height: auto;"
                                                                id="success-btn-ug" class="btn text-white">
                                                            {{ insight['priority'] }}
                                                        </button>
                                                    {% elif insight.priority == 'urgent' %}
                                                        <button style="font-size: 11px;padding-left: 2px;padding-right: 2px;  ; height: auto;"
                                                                id="danger-btn-ug" class="btn text-white">
                                                            {{ insight['priority'] }}
                                                        </button>
                                                    {% elif insight.priority == 'warning' %}
                                                        <button style="font-size: 11px;padding-left: 2px;padding-right: 2px;  ; height: auto;"
                                                                id="warning-btn-ug" class="btn text-white">
                                                            {{ insight['priority'] }}
                                                        </button>
                                                    {% else %}
                                                        <button style="font-size: 11px;padding-left: 2px;padding-right: 2px;  ; height: auto;"
                                                                id="none-btn-ug" class="btn text-white">
                                                            {{ insight['priority'] }}
                                                        </button>
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div id="collapse-10" class="collapse" role="tabpanel"
                                                 aria-labelledby="heading-10" data-parent="#accordion-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title"></h4>
                                                        <div class="row">
                                                            <div style="margin-top: -20px;" class="col-md-12">
                                                                <ul class="nav nav-pills nav-pills-custom "
                                                                    id="pills-tab-custom" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class=" active"
                                                                           id="pills-home-tab-custom-2"
                                                                           data-toggle="pill"
                                                                           href="#pills-health-10"
                                                                           role="tab" aria-controls="pills-home"
                                                                           aria-selected="true">
                                                                            Summary:
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content tab-content-custom-pill"
                                                                     id="pills-tabContent-custom">
                                                                    <div class="tab-pane fade show active"
                                                                         id="pills-health-10"
                                                                         role="tabpanel"
                                                                         aria-labelledby="pills-home-tab-custom">
                                                                        <div class="d-flex ">
                                                                        </div>
                                                                        <p style="margin-top: -10px;">
                                                                            {{ insight['objective'] }}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div style="margin-top: 0px;" class="col-md-12">
                                                                <ul class="nav nav-pills nav-pills-custom "
                                                                    id="pills-tab-custom" role="tablist">

                                                                    <li class="nav-item">
                                                                        <a class=" active"
                                                                           id="pills-home-tab-custom-2"
                                                                           data-toggle="pill"
                                                                           href="#pills-health"
                                                                           role="tab" aria-controls="pills-home"
                                                                           aria-selected="true">
                                                                            Recommendations:
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                                <div class="tab-content tab-content-custom-pill"
                                                                     id="pills-tabContent-custom">
                                                                    <div class="tab-pane fade show active"
                                                                         id="pills-health" role="tabpanel"
                                                                         aria-labelledby="pills-home-tab-custom">
                                                                        <div class="d-flex ">
                                                                        </div>
                                                                        <ul>
                                                                            <li>{{ insight.content | safe }}</li>
                                                                            <br>
                                                                            <img src="../../static/images/heyBooster.png"
                                                                                 height="300" width="300">

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/off-canvas.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/hoverable-collapse.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/template.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/settings.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/todolist.js') }}"></script>


</body>
</html>
</body>
</html>