<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Audit History</title>
    <!-- base:css -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/css/vertical-layout-light/style.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_static/style-extra.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util-form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-form.css') }}">

    <link rel="shortcut icon" href="../../static/images/heybooster-icon.png"/>
</head>

<body class="sidebar-fixed">
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">
            <a class="navbar-brand brand-logo" href="/"><img src="../../static/images/heyBooster.png"
                                                             alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img
                    src="../../static/images/heyBooster_small.png" alt="logo"/></a>
            <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item  dropdown d-none align-items-center d-lg-flex d-none">
                    <a class="dropdown-toggle btn btn-outline-secondary btn-fw" href="#" data-toggle="dropdown"
                       id="pagesDropdown">
                        <span class="nav-profile-name">Data Source Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="pagesDropdown">
                        {% for arg in args %}
                            {% if arg.dataSourceName %}
                                {% set dataSourceName = arg.dataSourceName %}
                            {% else %}
                                {% set dataSourceName = arg._id %}
                            {% endif %}
                            <a class="dropdown-item"
                               href="/account/audit-history-without-slack{{ arg._id }}">{{ dataSourceName }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown align-items-center d-lg-flex d-none">
                    <a class="dropdown-toggle btn btn-outline-secondary btn-fw" href="#" data-toggle="dropdown"
                       id="appDropdown">
                        <span class="nav-profile-name">Menu</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="messageDropdown">
                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-normal">Logout
                                </h6>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                       id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline mx-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-information mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                       id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline mx-0"></i>
                        <p class="notification-ripple notification-ripple-bg">
                            <span class="ripple notification-ripple-bg"></span>
                            <span class="ripple notification-ripple-bg"></span>
                            <span class="ripple notification-ripple-bg"></span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="messageDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles primary"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link d-flex">
                        <div class="profile-name">
                            <p class="designation">
                                {{ session['email'] }}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/audit-history-without-slack">
                        <i class="mdi mdi-shield-check menu-icon"></i>
                        <span class="menu-title">Audit History</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/connections-without-slack">
                        <i class="mdi mdi-puzzle menu-icon"></i>
                        <span class="menu-title">Connected Account</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div id="card-tam-ug" class="container text-center">
                                    {% for arg in selectedargs %}
                                        {% set AA = analytics_audits[loop.index0] %}
                                        <div id="card-ust-ug" class="round" data-value="0.{{ AA.totalScore }}"
                                             data-size="80"
                                             data-thickness="12">
                                            <strong id="grafik-healty-ug" style="display: block;"></strong>
                                        </div>
                                    {% endfor %}
                                    <div id="card-alt-ug">
                                        <a class="" id="g2_refresh">Healty Score</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div id="card-tam-ug" class="container text-center">

                                    <div id="card-ust-ug" class="text-center">
                                        <h1 id="issue-h-ug">4</h1>
                                    </div>
                                    <div id="card-alt-ug">
                                        <a class="" id="g2_refresh">Issue Detected</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div id="card-tam-ug" class="container text-center">

                                    <div id="card-ust-ug">
                                        <h1 id="issue-h-ug">3</h1>
                                    </div>
                                    <div id="card-alt-ug">
                                        <a id="g2_refresh">Recommendative</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead style="border-bottom: 2px solid transparent;" class="text-center">
                                        <tr>
                                            <th id="score-ug-2">Score</th>
                                            <th>Audit History</th>
                                            <th>Info</th>
                                            <th>Ignore Change</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        {% for arg in selectedargs %}
                                            {% set AA = analytics_audits[loop.index0] %}
                                            {% if AA.totalScore == 0 %}
                                                <tr style="height: 20px;">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="height-ug" id="tr-link">
                                                    <td id="score-ug">...</td>
                                                    <td onclick="location.href=''">Last Updated Time: preparing...</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn " type="button"
                                                                    id="dropdownMenuIconButton1" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i id="info-ug-2"
                                                                   class="mdi mdi-information-outline"></i>
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                 aria-labelledby="dropdownMenuIconButton1">
                                                                <a class="dropdown-item" href="#">Test Now</a>
                                                                <a class="dropdown-item" href="#">Details</a>
                                                                <a class="dropdown-item" href="#">Change Alert</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr style="height: 130px;">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% else %}
                                                <tr style="height: 20px;">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="height-ug" id="tr-link">
                                                    <td id="score-ug">{{ AA.totalScore }}</td>
                                                    <td onclick="location.href='https://www.heybooster.rocks/account/recommendation{{ arg._id }}'"
                                                        style="cursor:pointer;">{{ arg.dataSourceName }}
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn " type="button"
                                                                    id="dropdownMenuIconButton1" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i id="info-ug-2"
                                                                   class="mdi mdi-information-outline"></i>
                                                            </button>
                                                            <div style="cursor: text;" class="dropdown-menu"
                                                                 aria-labelledby="dropdownMenuIconButton1">
                                                                <a class="dropdown-item" href="#">Test Now</a>
                                                                <a class="dropdown-item" href="#">Details</a>
                                                                <a class="dropdown-item" href="#">Change Alert</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr style="height: 130px;">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="mt-4">
                            <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading-41">
                                        <h6 class="mb-0">
                                            <a style="background-color: #25378b;"
                                               class="text-center text-white collapsed" data-toggle="collapse"
                                               href="#collapse-41" aria-expanded="false"
                                               aria-controls="collapse-41">
                                                New Audit
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-41" class="collapse " role="tabpanel"
                                         aria-labelledby="heading-41"
                                         data-parent="#accordion-4">
                                        <form class="" id="" method="POST"
                                              action="/account/audit-history-without-slack-added">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">heybooster</h4>
                                                <div class="wrap-input100 validate-input"
                                                     data-validate="Name is required">
                                                    <span class="label-input100">Data Souce Name</span>
                                                    {#<input class="input100" type="text" name="name"
                                                   placeholder="Data Source Name" style="text-align: center;">#}
                                                    {{ nForm.data_source_name }}
                                                    <span class="focus-input100"></span>
                                                </div>

                                                <div class="wrap-input100 validate-input"
                                                     data-validate="Valid email is required: ex@abc.xyz">
                                                    <span class="label-input100">Google Analytics Account</span>
                                                    <text class="input100" type="text" name="email"
                                                          placeholder="Enter your email addess">{{ current_analyticsemail }}</text>
                                                    <span class="focus-input100"></span>
                                                </div>


                                                <div class="wrap-input100 input100-select">
                                                    <span class="label-input100">Select Your Profile Detail</span>
                                                    <div>
                                                        {{ nForm.account }}
                                                    </div>
                                                    <span class="focus-input100"></span>
                                                </div>

                                                <div class="wrap-input100 input100-select">
                                                    <!--
                                                     <span class="label-input100"></span> -->
                                                    <div>
                                                        {{ nForm.property }}
                                                    </div>
                                                    <span class="focus-input100"></span>
                                                </div>

                                                <div class="wrap-input100 input100-select">
                                                    <!--
                                                     <span class="label-input100"></span> -->
                                                    <div>
                                                        {{ nForm.view }}
                                                    </div>
                                                    <span class="focus-input100"></span>
                                                </div>

                                                <div class="container-contact100-form-btn">
                                                    <div class="wrap-contact100-form-btn">
                                                        <div class="contact100-form-bgbtn"></div>
                                                        <button type="submit" class="contact100-form-btn">
                                                        <span>
                                                            Submit
                                                            <i class="fa fa-long-arrow-right m-l-7"
                                                               aria-hidden="true"></i>
                                                        </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>

<script>
    document.getElementById('account').value = '';
    let account_select = document.getElementById("account");
    let property_select = document.getElementById("property");
    let view_select = document.getElementById("view");
    let bellchar = '';
    account_select.onchange = function () {
        account = account_select.value.split(bellchar)[0];
        fetch('/analytics/properties/' + account).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var property of data.properties) {
                    optionHTML += '<option value="' + property.id + bellchar + property.name + '">' + property.name + '</option>';
                }
                property_select.innerHTML = optionHTML;
            })

        });
    }
    property_select.onchange = function () {
        property = property_select.value.split(bellchar)[0];
        fetch('/analytics/views/' + account_select.value.split(bellchar)[0] + '/' + property).then(function (response) {
            response.json().then(function (data) {
                var optionHTML = '<option value="' + '' + '">' + ' Select an Option ' + '</option>';
                for (var view of data.views) {
                    optionHTML += '<option value="' + view.id + bellchar + view.name + '">' + view.name + '</option>';
                }
                view_select.innerHTML = optionHTML;
            })

        });
    }
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>
<script>
    function Circlle(el) {
        $(el).circleProgress({
            fill: {
                color: '#ff5c5c'
            }
        })
            .on('circle-animation-progress', function (event, progress, stepValue) {
                $(this).find('strong').text(String(stepValue.toFixed(2)).substr(2) + '%');
            });
    };
    Circlle('.round');
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/vendors/base/vendor.bundle.base.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/off-canvas.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/hoverable-collapse.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/template.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/settings.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='new_static/js/todolist.js') }}"></script>
</body>

</html>